@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;0,900;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*Codigo para elmininar las fechas de incremento en el input tipo number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  width: 50vw;
  height: 50vh;
  position: absolute;
  inset: 0;
  margin: auto;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  overflow: hidden;
}

#calculator {
  background: white;
  /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
  width: 50%;
  height: 100%;
  float: left;
}

.content {
  /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  padding: 40px;
}

#calculator h1 {
  margin-bottom: 1rem;
}

#calculator span {
  font-size: small;
}

#calculator form {
  margin: 1rem;
}

#calculator form input {
  width: 70%;
  padding: 12px 15px;
  background-color: #eee;
  border: none;
  margin-bottom: 1rem;
}

#calculator form button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 12px 45px;
  border-radius: 30px;
  color: white;
  background-color: rgb(252, 66, 109);
  border: 1px solid rgb(252, 66, 109);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 20ms ease-in;
}

button:active {
  transform: scale(0.95);
}

.results {
  color: rgb(37, 129, 207);
  font-weight: bold;
  font-size: 10px;
  margin: 1rem 0;
}

.results-Number {
  font-size: 20px;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: rgb(252, 66, 109);
  font-weight: bold;
}

.hideResults {
  visibility: hidden;
}

#information {
  background: #ff416c;
  /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
  width: 50%;
  height: 100%;
  float: left;
  color: #f6f5f7;
}

#information h1 {
  margin-bottom: 1rem;
}

@media (max-width: 1100px) {
  * {
    font-size: medium;
  }

  h1 {
    font-size: revert;
  }

  #calculator form button {
    padding: 11px 19px;
    font-size: smaller;
  }
}

@media (max-width: 1060px) {
  h1 {
    font-size: 24px;
  }
  .container {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
  }

  #calculator {
    width: 100%;
  }

  #calculator h1 {
    font-size: 24px;
  }

  #calculator form input {
    font-size: smaller;
    padding: 10px 0;
  }

  #information {
    width: 100%;
  }

  .content {
    padding: 0 5rem;
  }

  .results {
    font-size: 12px;
    margin: 5px;
  }

  .results-Number {
    margin: 0;
  }

  .info-button {
    display: block;
    position: absolute;
    background-color: #ff416c;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid ghostwhite;
    right: 46%;
    bottom: 1%;
    font-size: 16px;
    font-weight: bold;
  }

  .info-button-active {
    display: block;
    position: absolute;
    background-color: white;
    color: #ff416c;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid ghostwhite;
    right: 46%;
    bottom: 1%;
    font-size: 16px;
    font-weight: bold;
  }

  .info-button:hover {
    transform: scale(0.7);
  }
}
