@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;0,900;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*Codigo para elmininar las fechas de incremento en el input tipo number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  width: 70%;
  height: 60vh;
  position: absolute;
  inset: 0;
  margin: auto;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  overflow: hidden;
}

.container.form {
  width: 60vw;
  height: 90vh;
  background-color: #ff416c;
  color: white;
}

#calculator {
  background: white;
  /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
  width: 50%;
  height: 100%;
  float: left;
}

.content {
  /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  padding: 40px;
}

.content h1 {
  margin-bottom: 1rem;
}

.content span {
  font-size: small;
}

.content form {
  margin: 1rem;
}

.content form input {
  width: 70%;
  padding: 12px 15px;
  background-color: #eee;
  border: none;
  margin-bottom: 1rem;
}

.content form button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 12px 45px;
  border-radius: 30px;
  color: white;
  background-color: rgb(252, 66, 109);
  border: 1px solid rgb(252, 66, 109);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 20ms ease-in;
}

button:active {
  transform: scale(0.95);
}

.content a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 12px 45px;
  border-radius: 30px;
  color: white;
  background-color: rgb(252, 66, 109);
  border: 1px solid rgb(252, 66, 109);
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 20ms ease-in;
  text-decoration: none;
}

a:hover {
  transform: scale(0.95);
}
.content.form {
  display: flex;
  font-weight: bold;
}

.content.form h1 {
  align-self: center;
}

.content.form form {
  display: grid;
  width: 100%;
  height: 80vh;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 10px 0;
}

.content.form form input {
  width: 91%;
  padding: 7px 12px;
  margin: 0;
  text-align: center;
}

.content.form form label {
  margin: 10 px;
}

.content.form form button {
  margin: 10px;
}

.results {
  color: rgb(37, 129, 207);
  font-weight: bold;
  font-size: 10px;
  margin: 1rem 0;
}

.results-Number {
  font-size: 20px;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: rgb(252, 66, 109);
  font-weight: bold;
}

.hideResults {
  visibility: hidden;
}

#information {
  background: #ff416c;
  /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
  width: 50%;
  height: 100%;
  float: left;
  color: #f6f5f7;
}

#information h1 {
  margin-bottom: 1rem;
}

.container.showResult {
  width: 90vw;
  height: 70vh;
}

@media (max-width: 1060px) {
  .container {
    width: 70%;
    height: 60vh;
  }
  .content.showResult h1 {
    font-size: 23px;
    margin-bottom: 5px;
  }
  .content.showResult span {
    font-size: 12px;
  }
  .content form {
    margin: 8px 0;
  }

  .content form input {
    padding: 6px 5px;
    margin-bottom: 12px;
  }

  .content form button {
    padding: 10px 21px;
    font-size: 10px;
  }

  .results {
    margin: 0;
  }
}

@media (max-width: 950px) {
  .container {
    width: 80%;
    height: 60vh;
  }

  .content.showResult h1 {
    font-size: 22px;
    margin-bottom: 0;
  }

  .content.showResult span {
    font-size: 10px;
  }

  .info-button {
    display: none;
  }

  .info-button.active {
    display: none;
  }
  .content form {
    margin: 8px 0;
  }

  .content form input {
    padding: 6px 10px;
    margin-bottom: 12px;
  }

  .content form button {
    padding: 10px 21px;
    font-size: 11px;
  }

  .results {
    margin: 0;
  }
}

#pacient-list {
  border: 2px solid rgb(252, 66, 109);
  color: black;
  background-color: white;
}

#pacient-list th {
  background-color: rgb(252, 66, 109);
  color: white;
}

#pacient-list td,
.my-table th {
  padding: 10px;
  text-align: center;
}

@media (max-width: 700px) {
  .container {
    width: 85%;
  }

  .content {
    padding: 5px 40px;
  }

  .content form {
    margin: 5px;
  }
  .content form input {
    padding: 5px 15px;
  }

  .content form button {
    padding: 10px 19px;
    font-size: 10px;
  }

  .content ul {
    font-size: 13px;
  }

  .container.showResult {
    width: 90vw;
    height: 60vh;
  }
  .content.showResult {
    padding: 7px;
  }
  .content.showResult h1 {
    font-size: 19px;
    margin-bottom: 0;
  }
  .content.showResult span {
    font-size: 10px;
  }
  .content.showResult form {
    margin: 6px;
  }
  .content.showResult form input {
    margin-bottom: 6px;
    padding: 5px 15px;
  }
  .content.showResult form button {
    font-size: 11px;
    padding: 6px 9px;
  }

  .results {
    margin: 10px;
  }
  .results-Number {
    margin-bottom: 0;
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
  }

  .container.showResult {
    height: 100vh;
    width: 100vw;
  }

  #calculator {
    width: 100%;
  }

  #calculator h1 {
    font-size: 24px;
  }

  #information {
    width: 100%;
  }

  .content {
    padding: 0 5rem;
  }

  .results {
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .info-button {
    display: block;
    position: absolute;
    background-color: #ff416c;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid ghostwhite;
    right: 46%;
    bottom: 1%;
    font-size: 16px;
    font-weight: bold;
  }

  .info-button-active {
    display: block;
    position: absolute;
    background-color: white;
    color: #ff416c;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid ghostwhite;
    right: 46%;
    bottom: 1%;
    font-size: 16px;
    font-weight: bold;
  }

  .info-button:hover {
    transform: scale(0.7);
  }
}

@media (max-width: 280px) {
  .container.showResult {
    width: 98vw;
    height: 100vh;
    display: block;
  }
  .content {
    padding: 0 3rem;
  }
}
